html{
	height: 100%;
	background-color: green;
}
.images div{
	width: 59%;
	display: inline-block;
	text-align: center;
	height: inherit;
	vertical-align: middle;
	
}

h1{
	height: 100px;
	display: inline-block;
	color: blue;
	font-size: 10px;
	font-weight: bold;
	transition: 1s all linear;
}
h1:hover{
	font-size: 200px;
    transform: rotate(1420deg); /* Standard syntax */

}

.images{
	width: 100%;
	height: 200px;
}
img{
	width: 20%;
	height: auto;
}
.images .right{
	float: right;
	transform: scaleX(-1);
}

.flyer{
	height: 100px;
	width:300px;
	font-size: 40px;
	color:white;
	position: fixed;
}

